/* Set the font to Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    /* Adjust the styles for smaller screens */
    header {
        text-align: center;
    }
}